@import 'variables';

.alert {
  color: $error;

  svg {
    fill: $error;
    width: 14px;
    height: 14px;
  }

  a {
    color: $error;
    text-decoration: underline;
  }
}

.wrapper {
  padding-bottom: $footer-height;
}
