@import 'variables';

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  h2,
  .links {
    vertical-align: middle;
  }

  h2 {
    font-size: 18px;
    margin: 4px 0;
  }
}

.links {
  display: inline;
  line-height: 2em;

  li {
    display: inline;

    &::after {
      content: " •";
      margin: 0 8px;
      color: #808080;
    }

    &:last-child::after {
      content: "";
    }
  }
}

.credits,
.credits a {
  font-size: 12px;
}
