@import 'variables';

.footer {
  h2,
  .links {
    vertical-align: middle;
  }

  h2 {
    display: inline;
    font-size: 16px;
  }

  a {
    border-bottom: 1px dashed;
  }

  span {
    white-space: nowrap;
  }
}

.links {
  display: inline;
  line-height: 2em;

  li {
    display: inline;

    &::after {
      content: " •";
      padding: 0 8px;
      color: #808080;
    }

    &:last-child::after {
      content: "";
    }

    a {
      border-bottom: 1px dashed;
    }
  }
}

.credits,
.credits a {
  font-size: 12px;
  color: $grey-medium;
}
