@import 'variables';

.social {
  display: block;
  list-style: none;
  margin: 12px 0;
  padding: 0;

  &::before,
  &::after {
    // Clearfix for float
    content: '';
    display: table;
    clear: both;
  }

  li {
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    display: block;
    width: $social-icon-size;
    height: $social-icon-size;
    transition: ease-in-out 0.1s all;
    fill: $white;

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}
