$screen-xs: 480px;
$screen-sm: 560px;
$screen-md: 768px;

$white: #fff;
$grey-light: #ccc;
$grey-medium: #aaa;
$black: #000;

$red: #e52222;
$red-light: #ef4948;

$green-light: #a6c664;

$social-icon-size: 28px;
$social-icon-size-large: 36px;
$masthead-height: 80px;
$footer-height: 200px;
