$screen-xs: 480px;
$screen-sm: 560px;
$screen-md: 768px;

$white: #fff;
$grey-light: #ccc;
$grey-medium: #aaa;
$black: #333;

$primary: #b144ab;
$secondary: #e97223;
$tertiary: #0a90a5;
$success: #2da73c;
$error: #e35050;

$green-light: #a6c664;

$social-icon-size: 28px;
$social-icon-size-large: 36px;
$masthead-height: 80px;
$footer-height: 200px;

$font-weight-regular: 400;
$font-weight-bold: 600;

$font-family-header: 'Varela Round', helvetica, arial, sans-serif;
$font-family-body: 'Open Sans', helvetica, arial, sans-serif;
