<div class="alert-banner">
  <h3>
    Sorry, all in person events are cancelled until further notice.
  </h3>
  <p>
    We're taking precautions due to the increasing risk of <a target="_blank" href="https://www.gov.uk/government/topical-events/coronavirus-covid-19-uk-government-response">COVID-19 (Coronavirus)</a>, and unfortunately will not be running any in person events until further notice.
  </p>
  <p>
    We will, however, be organising and running online events in the meantime.
  </p>
  </p>
  <p>
    We apologise, and look forward to seeing you when our regularly scheduled meetups resume.
  </p>
  <p>
    Subscribe to our <a href="http://groups.google.com/group/asyncjs/">Mailing list</a> for updates on the situation.
  </p>
</div>
