<article class="event-detail">
  <header>
    <h2 class="heading">
      <a href="/{{ path }}">{{ title }}</a>
      {{> meetupLink link=meetup title=title}}
    </h2>
    <p class="meta">
      {{#if speakers}}
        Presented by {{> userList users=speakers }}&nbsp;
      {{/if}}
      {{#if sponsors}}
        Sponsored by {{> userList users=sponsors }}
      {{/if}}
    </p>
  </header>
  <section class="vevent">
    <time class="dtstart" title="{{ timestamp date }}" datetime="{{ timestamp date }}">
      <span class="date">{{ day date }}</span>
      <span class="time">{{ time date }}</span>
    </time>
    @
    <span class="location vcard">
      <a class="url fn org" href="{{ venue.link }}">{{ venue.name }}</a>
      <span class="adr">{{ venue.address }}</span>
    </span>
    <a class="map bordered" href="{{ directions venue }}">
      <img src="https://api.tiles.mapbox.com/v4/mapbox.streets/{{ longitude venue.latlong }},{{ latitude venue.latlong }},15/140x140.png?access_token={{ @root.site.mapbox.api_token }}" alt="Map of {{ venue.name }}" width="140" height="140" />
    </a>
    {{#if sponsors}}
      <div class="sponsors">
        {{#each sponsors}}
          {{#if logo}}
            <a class="sponsor-logo" href="{{ link }}"><img src="{{ logo }}" /></a>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  </section>
  {{> postDescription post=this }}
</article>
