<footer class="footer">
  <div class="container">
    <ul class="links">
      {{#each site.elsewhere}}
        <li><a href="{{ link }}" title="{{ desc }}">{{ name }}</a></li>
      {{/each}}
    </ul>

    <p class="credits">
      <span>Webfonts <a target="_blank" href="https://fonts.google.com/specimen/Varela+Round">Varela Round</a> and <a target="_blank" href="https://fonts.google.com/specimen/Open+Sans">Open Sans</a> served by <a target="_blank" href="https://fonts.google.com">Google Fonts</a>.</span>
      <span>Icons provided by <a target="_blank" href="https://iconmonstr.com/">iconmonstr</a>.</span>
      <span>Content licenced under <a target="_blank" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons</a>.</span>
      Created by <a class="dharmafly" target="_blank" href="http://dharmafly.com">Dharmafly</a> and <a target="_blank" href="/humans.txt">friends</a>
    </p>
  </div>
</footer>
<div id="media-test"></div>
<script src="/js/main.js"></script>
