<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="google-site-verification" content="i7Zcd4VE6mdqs2t1pb_kquaAQI_WItbWMOAt7_t0AYo" />
  <title>{{#if title}}{{ title }} &ndash; {{ site.title }}{{/if}}{{#unless title}}{{ site.title }}: {{ striptags (markdown site.caption) }}{{/unless}}</title>
  <link rel="author" href="/humans.txt">
  <link rel="shortcut icon" href="/img/favicon.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:400,700|Anton">
  <link rel="stylesheet" href="/css/global.css" />
</head>
