<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="google-site-verification" content="i7Zcd4VE6mdqs2t1pb_kquaAQI_WItbWMOAt7_t0AYo" />
  <title>{{#if title}}{{ title }} &ndash; {{ site.title }}{{/if}}{{#unless title}}{{ site.title }} - {{{ striptags (markdown site.caption) }}}{{/unless}}</title>
  <link rel="author" href="/humans.txt">
  <link rel="shortcut icon" href="/img/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Varela+Round&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="/css/global.css" />
  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');
  </script>
  <script async src='//www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
</head>
