<ul class="social">
  {{#each site.social as |social|}}
    {{#with (lookup ../site.elsewhere [social])~}}
      <li>
        <a href="{{ link }}" target="_blank" title="{{ desc }}">
          {{{ iconmonstr name }}}
        </a>
      </li>
    {{/with}}
  {{/each}}
</ul>
