<article class="event-detail">
	<header>
		<h2 class="heading"><a href="{{ event.url }}">{{ event.title }}</a>{% if event.lanyrd %} <a class="lanyrd-link" href="{{ event.lanyrd }}">on Lanyrd</a>{% endif %}</h2>
		<p class="meta">
			{% if event.speakers %}
				{% assign users = event.speakers %}
				Presented by {% include partial/user_list.html %}.
			{% endif %}
			{% if event.sponsors and event.sponsors %} {% endif %}
			{% if event.sponsors %}
				{% assign users = event.sponsors %}
				Sponsored by {% include partial/user_list.html %}.
			{% endif %}
		</p>
	</header>
	<section class="vevent">
		{% capture timestamp %}{{ event.date | date:"%FT%T%z" }}{% endcapture %}
		<time class="dtstart" title="{{ timestamp }}" datetime="{{ timestamp }}">
			<span class="date">{{ event.date | date:"%A, %-d %B %Y" }}</span>
			<span class="time">7:15pm</span>
		</time>
		@
		<span class="location vcard">
			<a class="url fn org" href="{{ event.venue.link }}">{{ event.venue.name }}</a>
			<span class="adr">{{ event.venue.address }}</span>
		</span>
		{% capture venue_address %}
			{% if event.venue.location %}
				{{ event.venue.location }}
			{% else %}
				http://maps.google.co.uk/?q={{ event.venue.address | cgi_escape }}
			{% endif %}
		{% endcapture %}
		<a class="map bordered" href="{{ venue_address | strip_newlines }}">
			{% capture map_url %}http://staticmaps.cloudmade.com/8ee2a50541944fb9bcedded5165f09d9/staticmap?center={{ event.venue.latlong }}&amp;zoom=16&amp;size=140x140&amp;format=png&amp;styleid=997{% endcapture %}
			<img src="{{ map_url }}" alt="Map of {{ event.venue.name }}" width="140" height="140" />
		</a>
		{% if event.sponsors.size %}
		<div class="sponsors">
			{% for sponsor in event.sponsors %}
			{% if sponsor.logo %}
				<a class="sponsor-logo" href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}" /></a>
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}
	</section>
	{% assign post = event %}{% include partial/post_description.html %}
</article>
