<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="wrapper">
      {{> masthead}}
      {{#if children}}
        <section class="module links">
          <ul>
            {{#each children}}
              <li><a href="/{{ path }}" title="{{ title }}">{{ title }}</a></li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
      <section class="module">
        {{#unless children}}
          <h2 class="module-heading">{{ title }}:</h2>
        {{/unless}}
        <ul>
          {{#each posts}}
            <li class="column event-item">{{> eventItem }}</li>
          {{/each}}
        </ul>
      </section>
      {{> links}}
      {{> footer}}
    </div>
  </body>
</html>
