<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{% if page.title %}{{ page.title }} &ndash; {{ site.title }}{% else %}{{ site.title }}: {{ site.caption | markdownify | strip_html }}{% endif %}</title>
		<link rel="author" href="/humans.txt">
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link rel="stylesheet" href="http://f.fontdeck.com/s/css/3rCWrQDRwvJMSFa1ECS+8Yenk1c/asyncjs.com/18017.css" />
		<link rel="stylesheet" href="/css/global.css" />
	</head>
	<body>
		<header class="masthead">
			<h1><a href="/">{{ site.title }}:</a></h1>
			<p>{{ site.caption | markdownify }}</p>
			<img class="logo" src="/images/logo-100x100.png" width="50" height="50" />
		</header>
		{% capture body %}{{ content }}{% endcapture %}
		{{ body | replace:"	","" }}
		<section class="module about">
			<h2 class="module-heading">About:</h2>
			{% capture about %}{% include about.md %}{% endcapture %}
			<div class="prose">{{ about | markdownify }}</div>
		</section>
		<section class="module links">
			<h2 class="module-heading">More:</h2>
			<ul>
			{% for link in site.elsewhere %}
				<li><a href="{{ link.link }}" title="{{ link.desc }}">{{ link.name }}</a></li>
			{% endfor %}
			</ul>
		</section>
		<footer>
			<span>Webfonts <a href="http://fontdeck.com/typeface/creighton/">Creighton</a> and <a href="http://fontdeck.com/typeface/fsjoeyweb/">FS Joey</a> served by <a href="http://fontdeck.com/">Fontdeck</a>.</span>
			<span>Lanyrd Icons by <a href="http://paulrobertlloyd.com/2009/06/social_media_icons/">PRL</a>.</span>
			<span>Content licenced under <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons</a>.</span><br />
			Created by <a class="dharmafly" href="http://dharmafly.com">Dharmafly</a> and <a href="/humans.txt">friends</a>
		</footer>
		<div id="media-test"></div>
		<script src="/javascript/main.js"></script>
		{% if site.analytics and site.pygments == true %}
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ site.analytics }}']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endif %}
	</body>
</html>
