<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="wrapper">
      {{> masthead}}

      <div class="container">
        <section class="module event-detail">
          <h2 class="module-heading">{{{ iconmonstr 'calendar-tick' }}}This Event</h2>
          {{> eventDetail }}
        </section>
        <section class="module">
          <section class="column upcoming-events">
            <h2 class="module-heading">{{{ iconmonstr 'calendar-date' }}}Following Event</h2>
            <ul class="event-listing">
              {{#with previous}}
              <li class="event-item">{{> eventItem }}</li>
              {{/with}}
              {{#unless previous}}
              <li class="empty">This is the last event</li>
              {{/unless}}
            </ul>
            <p class="read-more"><a href="/events/">View all events</a></p>
          </section>
          <section class="column past-events">
            <h2 class="module-heading">{{{ iconmonstr 'calendar-clock' }}}Previous Event</h2>
            <ul class="event-listing">
              {{#with next}}
              <li class="event-item">{{> eventItem }}</li>
              {{/with}}
              {{#unless next}}
              <li class="empty">This is the most recent event</li>
              {{/unless}}
            </ul>
            <p class="read-more"><a href="/events/">View all events</a></p>
          </section>
        </section>
      </div>
      {{> footer}}
    </div>
  </body>
</html>
