<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="wrapper">
      {{> masthead}}
      <div class="container">
        <section class="module event-detail">
          <h2 class="module-heading">
            {{{ iconmonstr 'news' }}}News
          </h2>

          <article class="event-detail">
            <header>
              <h2 class="heading">
                <a href="/{{ path }}">
                  {{ title }}
                </a>
              </h2>
              <p class="meta">
                {{#if authors}}
                  By {{> userList users=authors }}&nbsp;
                {{/if}}

                Posted on {{ day date }}
              </p>
            </header>
            {{> postDescription post=this }}
          </article>
        </section>
      </div>
      {{> footer}}
    </div>
  </body>
</html>
